<% include ../partials/header %>

<div class = "container main_container">
	

    <div class="row">
        <h1 class = "well well-sm text_center">Add New Comment to <%= review.reviewTitle %></h1>
            <form action="/review/<%= review._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="text">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit Comment!</button>
                </div>
            </form>
            <a href="/review">Go Back To Review Page</a>
        </div>
</div>

<% include ../partials/footer %>