<% include ../partials/header %>

<div class="container main_container">
        <div class="well well-sm">
            <h5>
                Add reponse to review: "<span class = "text_italic"><%= review.reviewTitle %></span>"
            </h5>
    	</div>
        <h1 class = "well well-sm text_center">
			<div class="space_add_small"></div>
			<divv><h5 class = "text-danger pull-right">
				*Characters: $, {, &&, || are forbidden
				</h5></divv>
			<div class="space_add_small"></div>
            <form action="/review/<%= review._id %>/comment" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="Your response">
                </div>
                <div class="form-group">
                    <button class="btn btn-sm btn-primary">Submit Comment!</button>
                </div>
            </form>

        </h1>
	<div class="space_add"></div>
        <a class="btn btn-danger btn-sm" href="/review">Back To Review Page</a>
        <div class="space_add"></div>
</div>

<% include ../partials/footer %>