	
</body>


<!--  		Copy right and (Hard coded) 'Last Modified' message -->
<div class = "footer">

  <div class="footer-copyright">
	  <p class = "text-muted">© 2011-2019 Copyright : Sunshine Farm and Cafe                           Last Modified: 27.09.2019</p>
  </div>


</div>



</html>
