<!doctype html>
<html>
<!--  			Include all essential Style Sheet/ Script / Nav-Bar / Flas Message -->
<head>
    <title>Sunshine Farm and Cafe</title>
    <link rel="icon" href="/sunshine_icon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<script src= "https://kit.fontawesome.com/41210d8069.js" ></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
<!--  		Customized style sheet -->
    <link rel="stylesheet" type="text/css" href="/app.css">

</head>

<body id="sunshine">
<!--  		Nav-Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >Su's Farm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/farm">Farm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cafe">Cafe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/onlineorder">Shopping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/visit">Visit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/review">Review</a>
                </li>
            </ul>

<!-- 			 	Right hand-side of Nav-Bar 
					If user is not logged-in -> show Sign-Up/Login
					If user is logged-in -> show Shopping Cart/ Log-Out -->
            <ul class="nav navbar-nav ml-auto">
				<% if(!currentUser){ %>
                <li class="nav-item">
                    <a class="nav-link text_space" href="/signup">Sign Up <i class="fas fa-user-plus"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text_space" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
                </li>
				<% } else { %>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Signed In As
                                    <#%= currentUser.username %>
                                </a>
                            </li> -->
				
				<li class="nav-item">
                    <a class="nav-link text_space" href="/onlineorder/summary"><%= currentUser.username %>'s Cart <i class="fas fa-shopping-cart"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text_space" href="/logout">Logout <i class="fas fa-sign-out-alt"></i> </a>
                </li>
				<% } %>
                <li class="nav-item">
                    <a class="nav-link text_space" href="https://github.com/supreedaoon/portfolio">GitHub <i class="fab fa-github-square"></i></a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/">Back To Main</a>
                </li>
            </ul>
        </div>
    </nav>

<!-- 	 	Flash Message -->
    <div class="container pt-3">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger">
                <p>
                    <%=error %>
                </p>
            </div>
            <% } %>

                <% if(success && success.length > 0) { %>
                    <div class="alert alert-success">
                        <p>
                            <%= success %>
                        </p>
                    </div>
                    <% } %>
    </div>