<% include ../partials/header %>

    <div class="container main_container pt-2 pb-5">
        <div class="card card-body bg-light p-4 mt-1">
            <h1 class = "display-5">
               Edit your review
            </h1>
        </div>

        <div class="textbox_review py-3">
			<divv><h6 class = "text-danger float-right">
				<strong>*Characters: $, {, &&, || are forbidden</strong>
			</h6></divv>
			<form action = "/review/<%= review._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group pt-2 float-left">
                    <span>Please select number of star again:</span>
                    <input type="radio" name="star" value="0"> 0
                    <input type="radio" name="star" value="1"> 1
                    <input type="radio" name="star" value="2"> 2
                    <input type="radio" name="star" value="3"> 3
                    <input type="radio" name="star" value="4"> 4
                    <input type="radio" name="star" value="5"> 5
                </div>
				<div class="form-group pt-2">
                    <input class="form-control" type="text" name="reviewTitle" value="<%= review.reviewTitle %>">
                </div>
				<div class="form-group pt-2 float-left">
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" accept="image/*">
                </div>
				<div class="form-group pt-2">
                    <input class="form-control" type="text" name="reviewContent" value="<%= review.reviewContent %>">
                </div>
				<button class="btn btn-primary btn-block button_long py-2">Confirm Edit</button>
            </form>
        </div>
        <a class="btn btn-danger btn-sm my-3" href="/review">Back To Review Page</a>
        
    </div>

    <%include ../partials/footer %>

