<% include ../partials/header %>

    <div class="container main_container">
        <div class="well well-sm text_center">
            <h2>
                Add your review
            </h2>
            <p>
                Your valued opinion is very important for our improvement
            </p>

        </div>

        <div class="space_add"></div>
        <div class="textbox_review">
			<div class="space_add_small"></div>
			<divv><h5 class = "text-danger">
				<strong>For security reason, please do not use $ in review or review's title. </strong>
				</h5></divv>
			<div class="space_add_small"></div>
            <form action="/review" method="POST">
                <div class="form-group">
                    <span>Please select number of star:</span>
                    <input type="radio" name="star" value="0"> 0
                    <input type="radio" name="star" value="1"> 1
                    <input type="radio" name="star" value="2"> 2
                    <input type="radio" name="star" value="3"> 3
                    <input type="radio" name="star" value="4"> 4
                    <input type="radio" name="star" value="5"> 5
                </div>
				<div class="form-group">
                    <input class="form-control" type="text" name="reviewTitle" placeholder="Title of your review">
                </div>
				<div>
					
				
					<h5 class = "text-info">
						<strong>===An option to upload image directly from device would be released on 07.09.19===</strong>
					</h5>
				</div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image URL">
                </div>
				<div class="form-group">
                    <input class="form-control" type="text" name="reviewContent" placeholder="Review">
                </div>
				<button class="btn btn-primary btn-block button_long">Submit Review</button>
            </form>
        </div>
        <div class="space_add"></div>
        <a class="btn btn-danger bth-large" href="/review">Back To Review Page</a>
        <div class="space_add"></div>
    </div>

    <%include ../partials/footer %>