<%include ../partials/header %>

<!--  	Show all available review 
		User can click on review to view more information
		Or log-in to add new review-->
    <div class="container main_container">
        <header class="jumbotron">
            <div class="container">
                <h1 class = "display-5">
                    Review
                </h1>

                <h2>
                    <small>Experience from our visitors and online customers</small>
                </h2>

                <p>
					<a class = "btn btn-primary bth-large" href = "/review/new">Add new review</a>
				</p>
                
            </div>
        </header>

                <!-- 	Display Reviews	 -->
                <div class="row">
            <% review_image.forEach(function(review){ %>

                <div class="col-md-3 col-sm-6">
                    <div class="img-thumbnail py-2 my-3">
                        <img src="<%= review.image %>" class = "img_thumbnail">
                        <div class="caption text-center">
                            <h5>
                                <%= review.reviewTitle %>
                            </h5>
							<a class="btn btn-primary btn-small" href="/review/<%= review._id %>">More Information</a>
                        </div>
                    </div>
                </div>
				

                <% }); %>

        </div>
            </div>
            <%include ../partials/footer %>