<%include ../partials/header %>
<!--  		Show all products 
			Click on "View Product" would lead to show page for the respective product-->
    <div class="container main_container">
        <header class="jumbotron">
            <div class="container">
               <h1 class="display-5">
                    Products Online Order
                </h1>
				<h2>
                    <small>Stay at home and let your favourite courier deliver healthy food right at your door step</small>
                </h2>
            </div>
        </header>
		
		<div class="card card-body bg-danger text-center text-white py-3 ">
			<h6 class = "display-6">
				We currently do not offer online order due to staff shortage. 
				<br>
				Numbers of our staffs are on vacation with family members, who came back as the result of the 'Blip'. 
				<br>
				We apologize for the inconvenience this may cause. 
			</h6>
		</div>

        <div class="row">
            <% products.forEach(function(product){ %>

                <div class="col-md-3 col-sm-6">
                    <div class="img-thumbnail py-2 my-3">
                        <img src="<%= product.image %>" class = " img_thumbnail">
                        <div class = "ref_link">
                            <a href='http://www.freepik.com'>
                                <%= product.att %>
                            </a>
                        </div>
                        <div class="caption text-center">
                            <h6>
                                <strong><%= product.name %></strong>
                            </h6>
							<!-- 	Button with product ID -hard coded - from passed array.					 -->
						<div>
							<a class="btn btn-primary btn-xs" href="/onlineorder/<%= product.index %>">View Product</a>
						</div>
                        </div>
						
							
                    </div>
                </div>
				

                <% }); %>

        </div>

    </div>

    <script type="text/javascript">
        function updateAmount(id) {
            alert("We currently do not offer online order due to staff shortage. We apologize for the inconvenience this may cause.");
        }
    </script>

    <%include ../partials/footer %>