<%include partials/header %>

    <div class="container main_container">
        
        <div class="jumbotron">
			<div class="container">
                <h1>
                    Sunshine Farm
                </h1>
                <p>
                    Our history, current projects and eco-friendly future
                </p>
            </div>

        </div>

        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img src="https://drive.google.com/uc?id=1DCScMbcAgGTziqMmoZKU-O_bYywDPAtt" class="img-rounded img-responsive img_smaller">
                </div>
				<div class = "space_add"></div>
                <div div class="col-lg-8 col-md-8 col-sm-6 center-block text-center">
                    <h3>
                        Sunshine Farm History
                    </h3>
                    <h4>
                        After years of working as a scientist in for undisclosable organisation. Dr. Smith wish to spend his retirement in a peaceful city in the northern of Thailand. Therefore, he started the first organic farm in this region.
                    </h4>

                </div>
            </div>
        </div>

		<div class="container">
            <div class="row align-items-center">
				<div class = "space_add"></div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img src="https://drive.google.com/uc?id=1hC8bwCy5huz7WCjW5hWWLYCtJLMmleYv" class="img-rounded img-responsive img_smaller">
					<div class = "ref_link">
                            <a href='http://www.freepik.com'>
                                Designed by welcomia / Freepik
                            </a>
                	</div>
                </div>
				<div class = "space_add"></div>
                <div div class="col-lg-8 col-md-8 col-sm-6 center-block text-center">
                    <h3>
                        Best Technology
                    </h3>
                    <h4>
                        60% of task in Sunshine Farm is run by automatic system and drone from Stark Industry. Our Farm use 50% less water and 30% less organic-fertilizer, due to high efficiency of Pym Particle and durability of Wakanda’s Vibranium.
                    </h4>

                </div>
            </div>
        </div>
		
		<div class="container">
            <div class="row align-items-center">
				<div class = "space_add"></div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img src="https://drive.google.com/uc?id=1uhe1vSEBNc9ikFGMJCzBbDcP42UyOXPU" class="img-rounded img-responsive img_smaller">
					<div class = "ref_link">
                            <a href='http://www.freepik.com'>
                               Designed by jcomp / Freepik
                            </a>
                	</div>
                </div>
				<div class = "space_add"></div>
                <div div class="col-lg-8 col-md-8 col-sm-6 center-block text-center">
                    <h3>
                        Expanding Business
                    </h3>
                    <h4>
                        Apart from delivering produce nationwide, we also welcome international guests. We arrange daily Quinjet flight between the farm, Wakanda and New York (as per requested by regular visitors).
            <h5 class="text-danger">
                Flight between the farm and Berlin still have to wait until the opening of the new airport. Our request to use the airport in Leipzig is repeatedly denied.
            </h5>
                    </h4>

                </div>
            </div>
        </div>
		
		<div class="container">
            <div class="row align-items-center">
				<div class = "space_add"></div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img src="https://drive.google.com/uc?id=1i-o6lLFJz9FO3bQDetiTD3V6ckLhkfVx" class="img-rounded img-responsive img_smaller">
					<div class = "ref_link">
                            <a href='http://www.freepik.com'>
                                Designed by jcomp / Freepik
                            </a>
                	</div>
                </div>
				<div class = "space_add"></div>
                <div div class="col-lg-8 col-md-8 col-sm-6 center-block text-center">
                    <h3>
                        Promising Future
                    </h3>
                    <h4>
                        As requested by previous colleagues, Dr Smith Jr. is studying the best way to grow potatoes on Mars, using simulator. This would ensure food and astronaut's safety.
                    </h4>

                </div>
            </div>
        </div>
        

  		<div class = "space_add"></div>
        <div class="well well-sm">
            <h4>
                (Not) Interactive Map
            </h4>

            <section class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img src="<%= farm_map.image %>" class="img-rounded img-responsive">
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li class="my_list"> Area 1: Vegetable Plot and Sunshine Cafe</li>
                            <li class="my_list"> Area 2: Special Guest Arrival Area & Vineyard</li>
                            <li class="my_list"> Area 3: Seasonal Fruits & Rice Field</li>
                            <li class="my_list"> Area 4: Orange Plantation</li>
                            <li class="my_list"> Area 5: Heart-Shaped Herb</li>
                            <li class="my_list"> Area 6: Private Area of Smith Family & Underground Lab (Unauthorized Entry Prohibited)</li>
                        </ul>
                    </div>
                </div>
            </section>

            <div>

            </div>

            <%include partials/footer %>