<%include partials/header %>

	

    <div class="container" style=" margin-bottom: 20px; background-color: rgba(245, 245, 245, .6);">

        <header class="jumbotron">
            <div class="container">
                <h1>
                    Sunshine Farm & Cafe
                </h1>

                <p>
                    Organic Farm in the northern of Thailand
                </p>
            </div>

        </header>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

                <% for (var i = 1; i < home_image.length; i++) { %> 
  				<li data-target="#myCarousel" data-slide-to= "<% i %>" ></li>
				<% } %>	  

                <!-- <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li> -->

            </ol>
			
			<div class="carousel-inner">
			<% var first = 0; %>
                    <% home_image.forEach(function(farm_image){ %>
                        <% if (first == 0) { %>
                            <div class="item active">

                                <img src="<%= farm_image.image %>" alt="<%= farm_image.name %>" style="width: 50%; margin: auto;">
                            </div>
                        <% }else{ %>
                                <div class="item">
                                    <img src="<%= farm_image.image %>" alt="<%= farm_image.name %>" style="width: 50%; margin: auto;">
                                </div>
                            <% } %>
                            <% first = first +1; %>
                    <% }); %>
			</div>
			
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
		
		<div class = "well well-sm" style = "margin-top: 50px; paddig-buttom: 50px">
			<h4 style = "text-align: center">
				Welcome to Sunshine Farm & Cafe, the first organic farm in the region. Please click images below to learn more about us.  
			</h4>
		</div>

	<!-- Link to other pages 		 -->
        <div class="row" style="display:flex; flex-wrap:wrap;  margin-left: auto; margin-right: auto; width: 60%; padding-top: 30px">
            
                <div class="col-md-6 col-sm-2">
                    <div class="thumbnail">
						<a href="/farm">
                        <img src="https://drive.google.com/uc?id=1nNbAKfJOpQHkaMNCJPbC2UN7YIhhDKpF">
						<div class="caption text-center">
                            <h4>
                                Farm
                            </h4>
                        </div>
						</a>
                    </div>
                </div>
				<div class="col-md-6 col-sm-2">
                    <div class="thumbnail">
						<a href="/cafe">
                        <img src="https://drive.google.com/uc?id=1jnr2CYQ3TtM7vv8MBlYv3EtL-BZyc4nm">
						<div class="caption text-center">
                            <h4>
                                Cafe
                            </h4>
                        </div>
						</a>
                    </div>
                </div>
		</div>
		<div class="row" style="display:flex; flex-wrap:wrap; margin-left: auto; margin-right: auto; width: 60%;">
				<div class="col-md-6 col-sm-2">
                    <div class="thumbnail">
						<a href="/onlineorder">
                        <img src="https://drive.google.com/uc?id=10qSzWJu6zEAxqupOy-mtt1EM6poz3Ham">
						<div class="caption text-center">
                            <h4>
                                Online Order
                            </h4>
                        </div>
						</a>
                    </div>
                </div>
				<div class="col-md-6 col-sm-2">
                    <div class="thumbnail">
						<a href="/visit">
                        <img src="https://drive.google.com/uc?id=1M7XhHs8f84c-4RkDxlpP42_jEHSm2R8a">
						<div class="caption text-center">
                            <h4>
                                Visit 
                            </h4>
                        </div>
						</a>
                    </div>
                </div>
				

        </div>

    </div>

    <%include partials/footer %>