<!DOCTYPE html>
<html>

<head>
    <title>Su's Portfolio</title>
    <link rel="icon" href="/su_logo.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/app.css">

    <style>

        a:hover,
        a:visited,
        a:link,
        a:active {
            color: #ffffff;
            text-decoration: none;
        }
    </style>

</head>

<body id = "landing">
    <a href="/sunshine">
        <div class="split web">
            <div class="centered_not_apsolute">

                <div class="well well-sm my-sm-5">

                    <p class="text_link">
                        Website Example
                    </p>
                </div>
                <div class="well well-sm my-sm-5">
                    <p class="text_content">
                        Use: Bootstrap, Node.js, Express
                        <br>IDE: GoormIDE Cloud
                        <br>Deploy: Heroku
                    </p>

                </div>

            </div>
        </div>
    </a>

    <a href="/mypoint">
        <div class="split app">
            <div class="centered_not_apsolute">

                <div class="well well-sm my-sm-5">

                    <p class="text_link">
                        Android Application Example
                    </p>
                </div>
                <div class="well well-sm my-sm-5">
                    <p class="text_content">
                        Use: Java, Room
                        <br>IDE: Android Studio
                    </p>

                </div>

            </div>
        </div>
    </a>

</body>

<div class="footer_landing p-2">
    <a href="http://www.freepik.com" class="text_footer">Designed by Freepik</a>
</div>

</html>