<%include partials/header %>


<div class = container style=" margin-bottom: 20px; background-color: rgba(245, 245, 245, .6);">
	<header class="jumbotron">
			<div class = "container">
				<h1>
                Review
            	</h1>

            	<p>
                Experience from visitor and online customer
            	</p>
			</div>
        </header>
	
<%include partials/footer %>