<%include partials/header %>

    <div class=container style=" margin-bottom: 20px; background-color: rgba(245, 245, 245, .6);">
        <header class="jumbotron">
            <div class="container">
                <h1>
                    Sign Up
                </h1>

                <p>
                   Be part of our warm and friendly community. Your chance to explore all 9 realms.
                </p>
            </div>
        </header>

        <div class="well well-sm">
            <h3 class="text-danger" style="text-align: center">
                This section is under construction. Estimated released date: 31 August 2019
            </h3>
        </div>

        <div>
            <img src="https://drive.google.com/uc?id=1wx8hcT7oOgNJDXVeqkdhHT1-YevjntNA" style="display: block; margin-left: auto; margin-right: auto; width: 30%">
        </div>
        <div>
            <a href="https://www.freepik.com/free-photos-vectors/design">
                <h6 style="text-align: center">
                    Design vector created by freepik - www.freepik.com
                </h6>
            </a>
        </div>
</div>
        <%include partials/footer %>