<%include partials/header %>


<div class = "container main_container">
	<header class="jumbotron">
			<div class = "container">
				<h1>
                Visitor Information
            	</h1>

            	<p>
                Plan your visit for the best experience
            	</p>
			</div>
        </header>

<p>
	<ul >
	<li class = "my_list"> Opening Hours : 9.00-20.00 Every Day</li>
	<li class = "my_list"> Ticket:
		<ul>
			<li>Adult: 150 Baht</li>
			<li>Children under 6 years old: 50 Baht</li>
		</ul>
		</li>
		<li class = "my_list">!!! Free <mark>'Pup Cup'</mark> for all pets (regardless the fact that they are 'pup' or not)</li>
	<li class = "my_list">All pets allowed : Lions , Bears and Chihuahua must be on a leash</li>
	</ul>
</p>

	


</div>


<%include partials/footer %>