.space_add{
	padding-top: 30px}

body {
    background: url('https://drive.google.com/uc?id=1zgUxztO1RYsLFAypR9P1nadpBOgvGwf2') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 60px;
}

.button_order{
	text-align: center;
}

.img_cafe{
	width: 70%;
}

.text_bg_cafe{
	background-color: rgba(245, 245, 245, 1);
}

.text_cafe{
	font-family: Josefin Sans; 
	font-size: 28px; 
	text-align: left;
}

.img_carousel {
	width: 50%;
	margin: auto;
} 

.img_center{
	 display: block; 
	margin-left: auto; 
	margin-right: auto; 
	width: 30%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

.footer-copyright p {
	white-space: pre;
}

.main_container{
	margin-bottom: 20px; 
	background-color: rgba(245, 245, 245, .6);
}

mark{
	background-color: rgba(255, 20, 147,.8);
  color: white;
}

.my_list {
    margin: 20px;
}

.pad_left{
	 padding-left: 30px;
}

.ref_link{
	color: red; 
	font-size: 0.5em; 
	text-align: right;
}

.row_order_display{
	padding-left: 25px; 
	margin-right: 5px;
}

.row_simple{
	display:flex; 
	flex-wrap:wrap;	
}

.img_smaller{
	width: 80%;
	margin: auto;
}

.row_thumbnail{
	display:flex; 
	flex-wrap:wrap;  
	margin-left: auto; 
	margin-right: auto; 
	width: 60%; 
	padding-top: 30px;
}

.img_thumbnail{
	width: 100%; 
	display: block;
}

.text_center{
	text-align: center;
}



