#sunshine{
            background: url('https://drive.google.com/uc?id=1zgUxztO1RYsLFAypR9P1nadpBOgvGwf2') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            padding-bottom: 60px;
        }

#mypoint{
	background-color: rgba(238, 130, 238, 0.5);
}

#landing{
	background: url("https://drive.google.com/uc?id=1yRHJAQPaAy_tLk_nD1vOaSRDstK1HVr7") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

#webstatus{
	background-color: rgba(0, 191, 255, 0.5);
}


.app {
    right: 0;
    background-color: rgba(238, 130, 238, 0.5);
}

.button_order {
    text-align: center;
}

.button_long{
	width:30%;
	margin:auto;
}

.button_row{
	display: inline;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered_not_apsolute {
	padding-top: 30%;
    text-align: center;
}

.img_cafe {
    width: 70%;
	margin: auto;
	padding: auto;
}

.img_carousel {
    width: 50%;
    margin: auto;
}

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

.footer-copyright p {
    white-space: pre;
}

.footer_landing {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.main_container {
    margin-bottom: 20px;
    background-color: rgba(245, 245, 245, 0.6);
}

mark {
    background-color: rgba(255, 20, 147, 0.8);
    color: white;
}

.my_list {
    margin: 20px;
}

.pad_left {
    padding-left: 30px;
}

.ref_link {
    color: red;
    font-size: 0.5em;
    text-align: right;
}

.row_order_display {
    padding-left: 25px;
    margin-right: 5px;
}

.row_simple {
    display: flex;
    flex-wrap: wrap;
}

.img_smaller {
    width: 80%;
    margin: auto;
}

.row_thumbnail {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 30px;
}

.img_thumbnail {
    width: 100%;
    display: block;
}

.space_add {
    padding-top: 30px;
}

.space_add_small {
    padding-top: 15px;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed; 
    z-index: 1;
    top: 0;
    overflow-x: hidden; 
    padding-top: 20px;
}

.text_bg_cafe {
    background-color: rgba(245, 245, 245, 1);
}

.textbox_review{
	width: 70%; 
	margin:auto;
}

.text_center {
    text-align: center;
}

.text_cafe {
    font-family: Josefin Sans;
    font-size: 28px;
    text-align: left;
}

.text_content {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #ffffff;
	font-size: 1.1em; 
	padding-left: 18%;
	
}

.text_italic{
	font-style: italic;
}

.text_link {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
	font-size: 2.0em; 
}

.text_status{
	font-family: 'Raleway', sans-serif;
    color: #ffffff;
	font-size: 1.5em; 
	text-align:center;
		}

.web {
    left: 0;
    background-color: rgba(0, 191, 255, 0.5);
}

.text_footer {
    font-size: 12px;
    color: #ffffff;
}

.text_demo {
            color: white;
            font-size: 1.2em;
            font-family: 'Raleway', sans-serif;
            text-align: center;
        }

        .well_demo {
            background-color: white;
            width: 60%;
            margin: auto;
            color: rgba(238, 130, 238, 0.5);
            font-size: 1.2em;
        }

        .navbar_demo {
            background-color: white;
            font-family: 'Raleway', sans-serif;
        }

        .custom-toggler.navbar-toggler {
            border-color: rgba(238, 130, 238, 0.5);
            ;
        }

        .custom-toggler .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(238, 130, 238, 0.5)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

        .text_table_head {
            font-family: 'Raleway', sans-serif;
            color: #ffffff;
            font-size: 1.4em;
            text-align: center;
        }

        .text_table_content {
            font-family: 'Raleway', sans-serif;
            color: #ffffff;
            font-size: 1.2em;
            text-align: center;
        }

        .space_add_10 {
            padding-top: 10%;
        }

        
		.button_web {
            background-color: white;
            color: rgba(0, 191, 255, 0.5);
            font-size: 1.2em;
        }

        
  