<%include ../partials/header %>

    <div class="container main_container">
        
        <div class="jumbotron">
			<div class="container">
                <h1 class = "display-5">
                    Sunshine Farm
                </h1>
                <h2>
                    <small>Our history, current projects and eco-friendly future</small>
                </h2>
            </div>

        </div>

        <div class="container">
            <div class="row align-items-center pb-5">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img src="https://drive.google.com/uc?id=1xU2ypL9d5dsZ-GbCVUtg2dcveeoGT7B4" class="img-rounded img-responsive img_thumbnail">
                </div>
				<div div class="col-lg-8 col-md-8 col-sm-6 center-block text-center">
                    <h2 class = "text_farm pt-1">
                        <strong>Sunshine Farm History</strong>
                    </h2>
                    <h5 class = "text_farm_desc">
                       <small> After years of working as a scientist in for undisclosable organisation. Dr. Smith wish to spend his retirement in a peaceful city in the northern of Thailand. Therefore, he started the first organic farm in this region.</small>
                    </h5>

                </div>
            </div>
        </div>

		<div class="container">
            <div class="row align-items-center pb-5">
				<div class="col-lg-4 col-md-4 col-sm-6">
                    <img src="https://drive.google.com/uc?id=1MaF2AtoJaUr-CjP_iznCU5Ow_BDtQAjk" class="img-rounded img-responsive img_thumbnail">
					<div class = "ref_link">
                            <a href='http://www.freepik.com'>
                                Designed by welcomia / Freepik
                            </a>
                	</div>
                </div>
				<div div class="col-lg-8 col-md-8 col-sm-6 center-block text-center">
                    <h2 class = "text_farm">
                        <strong>Best Technology</strong>
                    </h2>
                    <h5 class = text_farm_desc>
                        <small>60% of task in Sunshine Farm is run by automatic system and drone from Stark Industry. Our Farm use 50% less water and 30% less organic-fertilizer, due to high efficiency of Pym Particle and durability of Wakanda’s Vibranium.</small>
                    </h5>

                </div>
            </div>
        </div>
		
		<div class="container">
            <div class="row align-items-center pb-5">
				<div class="col-lg-4 col-md-4 col-sm-6">
                    <img src="https://drive.google.com/uc?id=14annwjhLTsZtPzogmns2NlNKi89IZWaz" class="img-rounded img-responsive img_thumbnail">
					<div class = "ref_link">
                            <a href='http://www.freepik.com'>
                               Designed by jcomp / Freepik
                            </a>
                	</div>
                </div>
				<div div class="col-lg-8 col-md-8 col-sm-6 center-block text-center">
                    <h2 class = "text_farm">
						<strong>Expanding Business</strong>
                    </h2>
                    <h5 class = "text_farm_desc">
                        <small>Apart from delivering produce nationwide, we also welcome international guests. We arrange daily Quinjet flight between the farm, Wakanda and New York (as per requested by regular visitors).</small>
            <h6 class="text-danger">
                <small><strong>Flight between the farm and Berlin still have to wait until the opening of the new airport. Our request to use the airport in Leipzig is repeatedly denied.</strong></small>
            </h6>
                    </h5>

                </div>
            </div>
        </div>
		
		<div class="container">
            <div class="row align-items-center pb-5">
				<div class="col-lg-4 col-md-4 col-sm-6">
                    <img src="https://drive.google.com/uc?id=1NZyslsGWrfmLbVrlVzxEF1xuHynUW9Qz" class="img-rounded img-responsive img_thumbnail">
					<div class = "ref_link">
                            <a href='http://www.freepik.com'>
                                Designed by jcomp / Freepik
                            </a>
                	</div>
                </div>
				<div div class="col-lg-8 col-md-8 col-sm-6 center-block text-center">
                    <h2 class = "text_farm">
						<strong>Promising Future</strong>
                    </h2>
                    <h5 class = "text_farm_desc">
                       <small> As requested by previous colleagues, Dr Smith Jr. is studying the best way to grow potatoes on Mars, using simulator. This would ensure food and astronaut's safety.</small>
                    </h5>

                </div>
            </div>
        </div>
        
		<hr>

  		<div class="well well-sm">
            <h4 class = "text_farm text_center">
				<strong>(Not)Interactive Map</strong>
            </h4>

            <section class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-6">
                        <img src="<%= farm_map.image %>" class="img-rounded img-responsive img_thumbnail">
                    </div>
                    <div class="col-md-6">
						<h6>
                        <ul >
                            <li class="my_list"> Area 1: Vegetable Plot and Sunshine Cafe</li>
                            <li class="my_list"> Area 2: Special Guest Arrival Area & Vineyard</li>
                            <li class="my_list"> Area 3: Seasonal Fruits & Rice Field</li>
                            <li class="my_list"> Area 4: Orange Plantation</li>
                            <li class="my_list"> Area 5: Heart-Shaped Herb</li>
                            <li class="my_list"> Area 6: Private Area of Smith Family & Underground Lab (Unauthorized Entry Prohibited)</li>
                        </ul>
							
							
						</h6>
                    </div>
                </div>
            </section>

            <div>

            </div>

            <%include ../partials/footer %>