<%include ../partials/header %>

    <div class="container main_container pt-2">

        <div class="card card-body bg-light p-4 mt-1">
            <h1 class="display-5">
                Log In
            </h1>

            <h2>
                <small>Your authentication would be thoroughly inspected. You do not need to provide us social media account information, because we can find it by ourselves.</small>
            </h2>

        </div>

        <div class="p-5">
            <form action="/login" method="POST">
				<div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username">
				</div>
				<div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
				</div>
				<div class="form-group">
                <input class="btn btn-primary btn-sm btn-block" type="submit" value="Login!">
				</div>
            </form>
        </div>
		
    </div>
    <%include ../partials/footer %>