<%include ../partials/header %>

    <div class="container main_container">
        
            <div class="well well-large">
                <h2>
                    Log In
                </h2>

                <h4>
                    Your authentication would be thoroughly inspected. You do not need to provide us social media account information, because we can find it by ourselves.    
                </h4>
                
            
		</div>

        <div class="well well-sm">
            <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input class= "btn btn-primary btn-sm" type="submit" value="Login!">
</form>
        </div>
</div>
        <%include ../partials/footer %>