<%include ../partials/header %>

    <div class="container main_container pt-2">
        
            <div class="card card-body bg-light p-4 mt-1">
                <h1 class="display-5">
                    Sign Up
                </h1>

                <h2>
                    <small>Be part of our warm and friendly community. Your chance to explore all 9 realms.</small>
                </h2>
            </div>
       

        <div class="p-5">
            <form action="/signup" method="post">
				<div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username: 1 to 20 characters">
				</div>
				<div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password: 1 to 8 characters">
				</div>
				<div class="form-group">
                <button class="btn btn-primary bth-sm btn-block">Sign Up</button>
				</div>
			
			    <div class="card card-body bg-light py-3 ">
                    <div>
<h6>
                        <strong>Tips for Username and Password selection</strong>
	</h6>
                    </div>
                    <h6>
                        <ul>
                            <li>They are case-sensitive</li>
                            <li>Contain only numbers and alphabets. (No space)</li>
                            <li>Password contains 1 to 8 characters</li>
                            <li>Username contains 1 to 20 characters</li>
                        </ul>

                    </h6>
                </div>
            </form>
        </div>

    </div>
    <%include ../partials/footer %>