<!DOCTYPE html>
<html>

<head>
    <title>Su's Portfolio</title>
    <link rel="icon" href="/su_logo.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/app.css">

    <style>
        a:hover,
        a:visited,
        a:link,
        a:active {
             color: rgba(0, 191, 255, 0.5);
            text-decoration: none;
        }
	</style>

</head>

<body id="webstatus">
    <div class="containner">
        <div class="space_add_10"></div>
        <table class="table text_table_content">
            <thead>
                <tr class="text_table_head">
                    <th>Next Improvement</th>
                    <th>Release Date</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Message after Log-In, Sign-Up</td>
                    <td>06.09.2019</td>

                </tr>
                <tr>
                    <td>User upload image from device for review</td>
                    <td>07.09.2019</td>

                </tr>
                <tr>
                    <td>Catch error from content-filter</td>
                    <td>08.09.2019</td>

                </tr>
                <tr>
                    <td>Migrate to Bootstrap4</td>
                    <td>11.09.2019</td>
                </tr>
				<tr>
                    <td>Online order page: Add to basket and summary</td>
                    <td>To be announced</td>
                </tr>
				
            </tbody>
        </table>

    </div>
    <div class="text-center">
        <a href="/sunshine" class="btn button_web" role="button">To Website Demo</a>
    </div>

</body>

</html>